.photo-grid__list {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 16px;
  object-fit: contain;
}

@media screen and (max-width: 350px) {
  .photo-grid__list {
    gap: 8px;
  }
}