.footer__container {
  width: 482px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .footer__container {
    max-width: 465px;
    justify-content: space-between;
    padding-left: 23px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 550px) {
  .footer__container {
    max-width: 100%;
    padding: 0;
    flex-direction: column;
    margin-bottom: 48px;
  }
}