.place__text {
  margin: 0;
  width: 100%;
  grid-area: text;
}

@media screen and (max-width: 350px) {
  .place__text {
    margin-left: 15px;
    text-align: left;
    width: 85%;
    max-height: min-content;
  }
}