.place__text {
  margin: 0;
  width: 100%;
  grid-area: text;
}

@media screen and (max-width: 768px) {
  .place__text {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .place__text {
    max-width: 90%;
    margin: 0;
    text-align: left;
  }
}