.footer__link {
  margin: 0 18px 0;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (max-width: 1024px) {
  .footer__link {
    margin-top: 158px;
  }
}

@media screen and (max-width: 768px) {
  .footer__link {
    align-items: flex-end;
    margin-top: 70px;
    display: block;
  }
}

@media screen and (max-width: 760px) {
  .footer__link {
    padding-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    padding-left: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__link:first-child {
  margin-left: 0;
}

.footer__link:last-child {
  margin-right: 0;
}