.footer__copyright {
  display: flex;
  align-items: center;
  max-width: 210px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
  margin-right: 50px;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    max-width: 100%;
    align-items: end;
    margin-right: -14px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 1;
    margin-left: 16px;
    margin-top: 15px;
    max-width: 100%;
  }
}