.cover {
  padding: 0;
  position: relative;
  margin: 84px 48px;
  max-width: 1184px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 98px 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 80px 0 0;
  }
}