.footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 75px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 590px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 23px;
  }
}